@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Sora:wght@400;600;700;800&display=swap");

:root {
}

body {
  font-family: "Sora", sans-serif;
  font-size: 14px;
  @apply bg-black;
  @apply text-white;
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.react-datepicker-wrapper input {
  @apply text-blue-300;
  padding: 5px 10px;
  border-radius: 8px;
  text-align: center;
}

.react-datepicker-wrapper input::placeholder {
  @apply text-blue-100;
}

.react-datepicker__header,
.react-datepicker__day--selected {
  @apply bg-gradient-to-r from-blue-300 to-blue-100;
}
